In [1]:
#Step 1 - Import the libraries
import pandas as pd

In [2]:
#Step 2 - load the data
data = pd.read_csv('Iris.data')# header=None

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.data'

In [5]:
data
#setosa
#versicolor
#verginica

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  NaN     Iris-setosa
3    4.6  NaN  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2             NaN
..   ...  ...  ...  ...             ...
147  6.7  3.0  5.2  2.3  Iris-virginica
148  6.3  2.5  5.0  1.9  Iris-virginica
149  6.5  3.0  5.2  2.0  Iris-virginica
150  6.2  3.4  5.4  2.3  Iris-virginica
151  5.9  3.0  5.1  1.8  Iris-virginica

[152 rows x 5 columns]

In [6]:
data.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [9]:
data.columns = ['sepal_length','sepal_width','petal_length','petal_width','label']

In [10]:
data

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2             NaN
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[152 rows x 5 columns]

In [11]:
#isna()
#isnull()
data.isna()

     sepal_length  sepal_width  petal_length  petal_width  label
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False         True  False
3           False         True         False        False  False
4           False        False         False        False   True
..            ...          ...           ...          ...    ...
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False
150         False        False         False        False  False
151         False        False         False        False  False

[152 rows x 5 columns]

In [12]:
data.isnull()

     sepal_length  sepal_width  petal_length  petal_width  label
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False         True  False
3           False         True         False        False  False
4           False        False         False        False   True
..            ...          ...           ...          ...    ...
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False
150         False        False         False        False  False
151         False        False         False        False  False

[152 rows x 5 columns]

In [13]:
data.isna().sum()

sepal_length    4
sepal_width     8
petal_length    6
petal_width     5
label           5
dtype: int64

In [14]:
#dropna
data.dropna()

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
8             4.6          3.4           1.4          0.3     Iris-setosa
10            4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[138 rows x 5 columns]

In [15]:
data

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2             NaN
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[152 rows x 5 columns]

In [17]:
data.dropna(thresh=4)

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2             NaN
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[146 rows x 5 columns]

In [18]:
data.dropna(how='all')

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2             NaN
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
data.dropna(subset=['label'],inplace=True)

In [21]:
data

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

In [22]:
#impute = substitute
data.fillna(3.7)

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          3.7     Iris-setosa
3             4.6          3.7           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
147           6.7          3.0           5.2          2.3  Iris-virginica
148           6.3          2.5           5.0          1.9  Iris-virginica
149           6.5          3.0           5.2          2.0  Iris-virginica
150           6.2          3.4           5.4          2.3  Iris-virginica
151           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]